<div id="header">
    <div class="header-logo">
      <a ><img src="../../../assets/images/logo (3).png" alt="" style="width:140px; height:37px"></a>
    </div>
    <div class="header-list">
      <nav class="header-list-nav">
        <ul>
          <li><a class="active" routerLink = "/home">Home</a></li>
          <li><a>Shop</a></li>
          <li><a >Blog</a></li>
          <li><a>About</a></li>
          <li><a>Contact Us</a></li>
          <li ><a routerLink = "/login">Login</a></li>
          <li><a routerLink = "/registration">Register</a></li>
          <li><a>Logout</a></li>
        </ul>
      </nav>
      <div class="header-list-icon">
        <a  routerLink = "/cart"><i class="fa fa-bag-shopping"></i></a>
      </div>
    </div>
  </div>
