<div class="main">
  <div class="sidebar">
      <div class="sidebar-content">
          <div class="profile-section">
              <!-- <img src="path_to_admin_avatar.jpg" alt="Admin" class="profile-image"> -->
              <h3>.</h3>
          </div >
          <div class="contents" style="color:white;" >
            <a style="color:white;" href="#" class="active"><i id ="icon" class="fas fa-tachometer-alt"></i>Dashboard</a>
            <a style="color:white;" href="#" ><i id ="icon" class="fas fa-users"></i>Users</a>
            <a style="color:white;"  href="#"><i id ="icon" class="fas fa-box-open"></i>Products</a>
            <a style="color:white;" href="#"><i id ="icon" class="fas fa-tags"></i>Categories</a>
            <a style="color:white;" href="#"><i id ="icon" class="fas fa-shopping-cart"></i>Orders</a>
          </div>
      </div>
  </div>
  <div class="main-content">
      <!-- Main content goes here -->
  </div>
</div>
