
<body>
  <div class="main">
  
      <!-- content -->
    <div class="content">
      <div class="images">
        <div class="largeimg">
          <img src="https://images.pexels.com/photos/996329/pexels-photo-996329.jpeg?auto=compress&cs=tinysrgb&w=600" width="400px" style="margin-right: 10px;">       
        </div>
        <div class="small">
          <img src="https://images.pexels.com/photos/996329/pexels-photo-996329.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
          <img src="https://images.pexels.com/photos/996329/pexels-photo-996329.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
          <img src="https://images.pexels.com/photos/996329/pexels-photo-996329.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
        </div>
      </div>
      <div class="description">
        <div class="desc">  <p style="color: #088178; font-size:large">Clothes company</p></div>
      
      
        <h1 style="font-family: Arial, Helvetica, sans-serif; ">Fall Limited Edition <br>Clothes</h1>
        <p style="font-size: 24px;">These low profile Clothes are your perfect casual wear <br>companion. Featuring a durable shirts outer sole, they'll withstand everything the weather can offer<br> <br></p>
        <div class="price">
          <p style="font-size: large;">Ksh.125.00</p>
          <p class="per">50%</p>
         
        </div>
        <div class="perc"> <s>Ksh.195.00</s></div>

        <div class="add">
          <div class="addcart">
            <span>-</span>
            <span>1</span>
            <span>+</span>
          </div>
          <div class="additem">
          <a   routerLink = "/login" style="color: white; display:flex; gap:4px"> <i class="fa-solid fa-cart-shopping"></i><h4 style="color:white">Add to cart</h4></a>
            
            
    
          </div>
        </div>
        
      </div>
    
    </div>

  </div>
  
</body>


